<div class="header">
  <div class="nav-bar">
    <!-- Menu -->
    <div class="nav">
      <ul class="nav-pills">
        <li class="active_" >
          <%= link_to "#no_org", class: "dropdown-toggle" do %>
            <%= image_tag "logo.png", class: "logo"%>
            EOP frontend 新项目
          <% end %>
          
          <b class="caret-out"></b>
        </li>

      </ul>


      <div class="session_info">
        <%= link_to "登录", "#new_user_session_url" %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
